{% extends 'baselayout.html' %}
{% block content %}

{% if recommendations %}

<div class="card mx-auto shadow p-0.5 mb-5 bg-body rounded h-50" style="width:40%;">
    <h1 style="color:green;">recommended results</h1>
    <ul>
    {% for item in recommendations %}
        
    <div class="card-body">
    <li><h4><a href="{{item.pk}}">{{item.name}}</a></h4></li>
</div>  
{% endfor %}
</ul>
</div>
{% else %}
<div class="card mx-auto shadow p-0.5 mb-5 bg-body rounded h-50" style="width:40%;">
<div class="card-body">
    <h1>Sorry! no close matches </h1>
</div>  
</div>
{% endif %}
{% endblock  %}